.contacts {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &-items {
      min-width: 200px;
      min-height: 200px;
      background-color: lightblue;
      margin-right: 50px;
      width: 40%;
    }

    &-info-block {
      min-width: 200px;
      min-height: 200px;
      background-color: lightblue;
      margin-right: 50px;
      width: 60%;
      display: flex;
      justify-content: start;
      flex-direction: column;
      height: fit-content;
    }
  }
}

.add-form {
  text-align: center;

  &__input {
    width: 410px;
  }
}
